.form1{
    margin-left: auto;
    margin-right: auto;
    margin-top: -30px;
}
.inp{
    margin-top: 20px;
}
#btn{
    padding: 5px 15px;
}


.forms{
    background-color: rgb(181, 188, 188);
    box-shadow: 2px 2px 2px grey;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    margin-top: 50px;
    width: 400px;
    border-radius:20px;
    font-weight: bold;
}