.carousel-images img {
    display: none;
  }
  
  .carousel-images .active {
    display: flex;
    margin: auto;
    margin-top: 50px;
  }
  
  .carousel-dots span {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: gray;
    margin: 5px;
    cursor: pointer;
  }
  
  .carousel-dots .active {
    background-color: black;
  }
  