.logcardhead{
    background-color: rgb(216, 228, 213);
}
.logcard{
    width: 400px;
    height: 350px;
    box-shadow: 1px 2px 5px rgb(167, 192, 167);
}
.form-control:focus {
    border-color: white !important;
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25) !important;
}
.full {
    position: relative;
}
.full {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    background-image: url("./Welcome.png");
    background-size: 1200px 750px;
    background-repeat: repeat-x;
    animation: horizontalLoop 60s linear infinite;
}

@keyframes horizontalLoop {
0% {
    background-position: 0 0;
}
100% {
    background-position: 100% 0;
}
}

.select{
    box-shadow: 1px 2px 5px rgb(167, 192, 167);
}
